{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">

    <table id="example" class="display expandable-table" style="width:100%">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Case No.</th>
                <th>Matter No.</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for client in data %}
            <tr>
                <th><a href="/clientInfo/{{client.id}}">{{client.first_name}}</a></th>
                <th>{{client.name}}</th>
                <th>{{client.matter_number}}</th>
                <th>{{client.name}}</th>
                <th>
                    <a href="/updateClient/{{client.id}}" class="btn btn-primary">Update</a>
                    <a href="/deleteClient/{{client.id}}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}