{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">
                            Good
                            <script>
                                var hours = new Date().getHours();
                                var greeting;
                                if (hours >= 5 && hours < 12) {
                                    greeting = 'morning';
                                } else if (hours >= 12 && hours < 17) {
                                    greeting = 'afternoon';
                                } else if (hours >= 17 && hours < 21) {
                                    greeting = 'evening';
                                } else {
                                    greeting = 'night';
                                }
                                document.write(greeting);
                            </script>
                            <h4>{{request.user}}</h4>
                        </h3>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="justify-content-end d-flex">
                            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="mdi mdi-calendar"></i> Today
                                    <script>
                                        var date = new Date();
                                        var day=date.getDate();
                                        var month=date.getMonth() +1 ;
                                        var year=date.getFullYear();
                                        document.write(day + ('th' + ',' + month + ',' + year));
                                    </script>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card tale-bg">
                    <div class="card-people mt-auto">
                        <img src="/static/images/dashboard/people.svg" alt="people">
                        <div class="weather-info">
                            <div class="d-flex">
                                <div>
                                    <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                                </div>
                                <div class="ml-2">
                                    <h4 class="location font-weight-normal">Nairobi</h4>
                                    <h6 class="font-weight-normal">Kenya</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
                <div class="row">
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-tale">
                            <div class="card-body">
                                <p class="mb-4">Total Cases</p>
                                <p class="fs-30 mb-2">{{totalCases}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-dark-blue">
                            <div class="card-body">
                                <p class="mb-4">Total Active Cases</p>
                                <p class="fs-30 mb-2">{{activeCases}}</p>
                                <p>{{ongoingCasesPercentage}}%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                        <div class="card card-light-blue">
                            <div class="card-body">
                                <p class="mb-4">Total Closed Cases</p>
                                <p class="fs-30 mb-2">{{closedCases}}</p>
                                <p>{{closedCasesPercentage}}%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 stretch-card transparent">
                        <div class="card card-light-danger">
                            <div class="card-body">
                                <p class="mb-4">Total Bills Paid</p>
                                <p class="fs-30 mb-2">KSH <span style="font-size: 20px;">{{totalBillPaid}}.00</span></p>
                                <!-- <p>0.22% (30 days)</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
